---
layout: archive

header:
  overlay_image: /assets/images/backgrouhd.jpeg
---

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].progress_of_study | default: "Progress of Study" }}</h3>

<a href="https://q-inho.github.io/study/research/paper/Main/">
<img src="https://user-images.githubusercontent.com/79438062/192475384-231cb66a-5774-4319-b740-764335660d88.gif">
</a>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
